h1{ color: whitesmoke;}

.cornice { 
    height: max-content;
    width: max-content;
    background: red;



}

input { display: block;
margin-bottom: 15px ;}


button{ display: block;
    margin-top: 15px;
    background-color: whitesmoke;
    color: red;
}